{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
	<link rel="stylesheet" href="{% static 'luxmonitor/style.css' %}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<title>Siema</title>
</head>
<body>
<div id="mapid"></div>
<div id="my_chart"></div>
<script src="{% static 'luxmonitor/script.js' %}"></script>
<script src="{% static 'luxmonitor/chart.js' %}"></script>
</body>
</html>

